.collapse {
    display: flex;
    width: 100%;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
}
.collapse__dropdown__title{
  flex-direction: row;
  padding: 0.5em 1em;
  width: 100%;
  
  margin-top: -0.5em;
  border-radius: 5px; 
  display: flex;
  justify-content: space-between;
}
  


   .collapse__drowpdown__title  h2 {
          color: #ffffff;
           font-size:24px;
           font-weight: 500;
        }
        .collapse__dropdown__title   P  i{
          
          margin-left: 385px;
          color: #f7f7f7;
          margin-top: 15px;
            cursor: pointer;
            color: #f7f7f7;
          }
        
      
  .collapse__dropdown__content {
      
        -webkit-animation: slide 1s ease-in;
    animation: slide 1s ease-in;
    background: #f0f0f0;
    border-radius: 0 0 0.3rem 0.3rem;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 1rem;
    margin-top: -1.2rem;
    padding: 0.8rem 1rem;
    position: relative;
    z-index: -1;
      }
  
       
  
  p {
          font-size:20px;
          font-weight :400;
          color: #ff6060;
          margin: 0 auto;
          padding: 0.8em;
        }
      
    
        .Collapse-container .collapse{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        display: flex; 
        justify-content: space-between;  
        width: 80%;
        height: 52px;
        margin-left: 120px;
        margin-top: 30px;
        padding-right: 40px;
         align-items: center;
        background-color: #ff5656;
        border-radius: 0.3rem;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        color: #fff;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        }
        .Collapse-container .collapse i {
          margin-left: 1084px;
        }
