

.footer__logo {
   
    margin-bottom: 10px;
}

.footer_text {
    color: white;
}
.footer_mobil{
    display: none;
}
@media screen and (max-width: 375px){
   .footer_mobil {
    width: 100%;
    display: block;}

    .footer__logo{
        display: none;
    }


}

